{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/img_card.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid my-5">
    <h1>Catalog</h1>
    <hr />
    <div class="row product-list mt-5">
    {% for object in object_list %}
        {% include 'products/_product_card.html' %}
    {% endfor %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/img_card.js' %}"></script>
{% endblock javascript %}